@page
@model Web_1001_DB_App.Pages.EditPodcastModel
@{
}

<form method="post">
    <input asp-for="podcast.Id" />
    <div>
        <label asp-for="podcast.Name"></label>
        <input asp-for="podcast.Name" />
    </div>
    <div>
        <label asp-for="podcast.Url"></label>
        <input asp-for="podcast.Url" />
    </div>
    <div>
        <label asp-for="podcast.Description"></label>
        @* <input asp-for="podcast.Description" /> *@
        @Html.EditorFor(m => m.podcast.Description, additionalViewData: new { htmlAttributes = new { @class = "form-control" }})
    </div>
    <div>
        <input type="submit" value="Add Podcast" />
    </div>
</form>